body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  background: #fafafa;
}

#view-content{
  min-height: 100vh;
}